{% extends "spanishVersion/layout.html" %}

{% block body %}
    <div id="descricao">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="main-title">{{ requestedPos.title }}</h3>
              <p>Referência: {{ requestedPos.reference }}</p>
              <p>Nível: Especialização </p>
              <p>Público Alvo: {{ requestedPos.profile }}</p>
              <p>Mensalidade: {{ requestedPos.monthCost }}</p>
              <p>Nº de Parcelas: {{ requestedPos.duration }}</p>
            </div>
          </div>
        </div>
    </div>
    <p></p>
{% endblock %}